body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}

h1 {
  font-weight: normal;
  border: .5em solid purple;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  margin: 1em 0 0 1px;
  padding: .5em 0 .5em 3px;
  background-color: #efe9f3;
}

h2 {
  margin: 2em 0 0 0;
  font-size: 2em;
  font-family: 'Times New Roman', Times, serif;
}

section {
  color: #0c2a44;
}

p {
  color: #092742;
  line-height: 1.5em;
}

p:first-of-type::first-letter {
  font-size: 4em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

.citacao {
  text-align: justify;
  font-size: .9em;
  line-height: 2em;
  margin: 1em 2em 1em 4em;
  font-style: italic;
  text-transform: uppercase;
}
.citacao::before {
  content: "“";
  font-size: 3em;
  vertical-align: bottom;
  line-height: 20px;
}
.citacao::after {
  content: "”";
  font-size: 3em;
  vertical-align: text-top;
}

#titulo-principal {
  text-transform: uppercase;
}

[id='titulo-principal'] {
  text-shadow: 0.1em 0.1em 0.1em #8000806e;
  color: #1b1919;
}
